.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container form {
    margin-top: 20px;
    border: 2px solid rgba(34,181,195,1);
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container form input {
    border: 2px solid rgba(34,181,195,1);
}

.container form button {
    border: 2px solid rgba(34,181,195,1);
    background-color: white;
}